DEBUG=0
SECRET_KEY=change-me-dia-gallery
ALLOWED_HOSTS=samaneh.filmjadiid.ir
CSRF_TRUSTED_ORIGINS=https://samaneh.filmjadiid.ir
DB_NAME=dia_gallery
DB_USER=dia_gallery
DB_PASSWORD=change-me
DB_HOST=db
DB_PORT=5432
APP_ADMIN_USERNAME=diaadmin
APP_ADMIN_PASSWORD=change-me

# No Digikala API credentials are used in this project.
# Digikala commission is calculated locally from settings stored in the database.
